<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Sobre</title>
    {% endblock %}

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesChallenge.css" />
  </head>
  <body>
    <header>
      <div>
        <a href="https://discordapp.com/invite/gCRAFhc" target="bold"
          >Comunidade</a
        >
        <a href="mailto:oi@rocketseat.com.br" target="bold">Email</a>
        <a href="tel:+5547992078767" target="bold">Telefone</a>
        <a href="/aboutChallenge.njk" target="bold">Sobre</a>
        <a href="/" target="bold">Conteúdos</a>
      </div>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
